# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Test artifacts
.pytest_cache/

# Build artfacts
*.egg-info/
dist/
build/

# Virtual enviroment
.env

# Log and output files
*.log
output.txt
log_de_erro.txt

# Editor/OS specific
.DS_Store
.vscode/
